.search {
  display: grid;
  grid-gap: 4rem 1.4rem;
  grid-template-columns: 1fr auto;
  grid-template-rows: auto auto;

  &__heading {
    margin: 0;

    font-size: 4rem;
    font-weight: 300;
    color: var(--white);
  }

  &__input {
    grid-area: 2 / 1;
  }

  &__button {
    grid-area: 2 / 2;
  }
}
